# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

media/* binary

.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
media export-ignore
project.godot export-ignore